# DVC Overrides
.dvc/cache/

# Datasets
data/
*.csv


# Machine Learning Models
roberta_toxicity_final/
roberta_checkpoints/
*.joblib
*.pt
*.bin

# MLflow Tracking
mlruns/

# Python Virtual Environments & Caches
venv/
env/
__pycache__/
*.pyc

# OS Files
.DS_Store